body {
    text-align: center;
    background-color: lightgoldenrodyellow;
}

#page-wrap {
    text-align: left;
    width: 800px;
    margin: 0 auto;
}


.container {
    background-color: lightgoldenrodyellow;
}